.emailRow {
    display: flex;
    align-items: center;
    height: 40px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    z-index: 999;
}

.emailRow:hover {
    border-top: 1px solid whitesmoke;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.emailRow__options {
    display: flex;
}

.emialRow__message {
    display: flex;
    flex: 0.8;
    align-items: center;
    font-size: 13px;
}

.emailRow > h4 {
    width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 5px;
}

.emialRow__title {
    font-size: 13px;
    flex: 0.3;
}

.emialRow__time {
    padding-right: 15px;
    font-size: 12px;
    font-weight: bold;
    color: #aaa;
}

.emialRow__description {
    font-weight: 400;
    color: gray;
}

.emailRow__details {
    display: flex;
    flex: 1;
    align-items: center;
    height: 100%;
}