.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid whitesmoke;
    height: 60px;
}

.header__left {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.header__left > img {
    object-fit: contain;
    height: 30px;
    margin-left: 10px;
}

@media only screen and (max-width: 500px) {
    .header__left > img {
      display: none;
    }
}

.header__middle {
    display: flex;
    flex: 0.6;
    align-items: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 5px;
}



.header__middle > input {
    border: none;
    outline: none;
    width: 100%;
    background-color: transparent;
    font-size: medium;
}

.header__right {
    display: flex;
    padding-right: 15px;
    align-items: center;
}

.header__right > button {
    margin-right: 5px;
}
